[submodule "src/ardupilot"]
	path = src/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
	branch = master
[submodule "src/micro-ROS-Agent"]
	path = src/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
