# https://stackoverflow.com/questions/30063907/docker-compose-how-to-execute-multiple-commands 
services:
  # https://docs.docker.com/reference/compose-file/services/
  ros2:
    build: .
    privileged: true # just to make sure we dont get into permission issues
    volumes:
      - ./workspaces:/root/ros2_droneswarm/workspaces # mount the directory where the build ros2 workspaces are stored  NOT SURE THIS IS NEEDED WHEN WE HAVE THE ABOVE
    devices:
      - "/dev/ttyS0"
    restart: always # always restart the container if it stops (i.e. also on reboot) (in this "restart", state is remebered)
    network_mode: host
    command: tail -f /dev/null # keeps docker container running without doing anything. (else it would exit immediately cus there are running no task to do)
                              # (we are launching our ros2 nodes manually from build_copy_run_on_pi.sh - this allows us to control when they start)
                              # (this allows us to update the /install files for the nodes, install dependencies, etc before starting the nodes.)


      
